.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.pagination button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  background-color: #333;
  color: white;
}

.pagination .active {
  background-color:var(--earth);
  color: white;
  font-weight: bold;
}