.contenedor {
  padding: 20px;
  margin-bottom: 20px;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--text);
}

.history{
  display: flex;
  flex-wrap: wrap;
 

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  
}

.mensaje {
  text-align: center;
  color: rgb(151, 118, 7);
  font-size: 16px;
  padding: 20px;
}

.error {
  text-align: center;
  color: yellow;
  font-size: 16px;
  padding: 20px;
}